    .blog-list li{   
        max-width:100%;
        display:flex;    /*aligning image of the blog and its paragraph horizontally*/
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        padding:15px 0px 15px 0px;
    }
    .blog-list li:not(:last-child){
        border-bottom: 1px solid #dedcdc;}
    .blog-list li img{
        width:300px;
        height: 200px;
        
    }
   .blog-paragraph{
        width: 470px;
    } 